@tailwind base;
@tailwind components;
@tailwind utilities;

.box{
    transform: translateY(0px);
    animation-duration: 0.6s;
    animation-name: box;
}

@keyframes box {
    from {
        transform: translateY(-50px);
    }
    to{
        transform: translateY(0px);
    }
}